<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>215156880113-sslrg3eoo2btcgbt6ao0geo89daphahc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215156880113-sslrg3eoo2btcgbt6ao0geo89daphahc</string>
	<key>API_KEY</key>
	<string>AIzaSyAVtKoG5eLkoLLDE9HnruqEWYr6kXpguPY</string>
	<key>GCM_SENDER_ID</key>
	<string>215156880113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jeinie.ch12-jangjungyoon-sharedPlan</string>
	<key>PROJECT_ID</key>
	<string>iosprogramming-b7a8e</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprogramming-b7a8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:215156880113:ios:d2f2c63e8020445ea9af50</string>
</dict>
</plist>